* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 600px;
    max-width: 710px;
    width: 70%;
    height: 70vh;
    border: 3px solid black;
    margin: auto;
    font-family: "Roboto", sans-serif;
    border-radius: 30px;
    padding: 2em 2em 2em 3em;
}

.input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-area>input {
    padding: 0.9em;
    border-radius: 10px;
    border: 2px solid black;
}

.input-area>button {
    padding: 1em;
    margin-top: 1em;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    font-size: 1em;
}

.error-message {
    display: block;
    color: white;
    margin: 5px 0 0 2px;
    font-size: 0.7em;
}

input:invalid+.error-message {
    color: red;
}

.input-area>label {
    padding: 0.7em 0;
}

.profile-complete {
    display: flex;
    gap: 0.7em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-right-color: gray;
    border-bottom-color: gray;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
}

.complete-list {
    background-color: lightgray;
    padding: 2em;
    padding-bottom: 8em;
    border-radius: 20px;

}

.complete-list h4 {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1em;
}

.crossed-list {
    text-decoration: line-through;
    color: rgb(70, 68, 68);
}